<%- include('partials/header', { title: 'About' }) %>

<style>
  .container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }

  h1 {
    color: #333;
  }

  h2 {
    color: #555;
    margin-top: 10px;
  }
</style>

<div class="container">
  <h1>About This Application</h1>

    <h2>This is a simple authentication and authorization example using Node.js, Express, and EJS.</h2>
</div>

<%- include('partials/footer') %>
